<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DodoService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DodoService.Settings1>
            <setting name="ScribdApiKey" serializeAs="String">
                <value>4pm04xp2j5pyyi9u49g17</value>
            </setting>
            <setting name="ScribdSecretKey" serializeAs="String">
                <value>sec-6gv9usosv0o1qe61gmrez7y6uc</value>
            </setting>
            <setting name="ScribdPublisherId" serializeAs="String">
                <value>pub-51344675976687955773</value>
            </setting>
            <setting name="ScribdEnforceSigning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScribdUserName" serializeAs="String">
                <value>poweqscribd</value>
            </setting>
            <setting name="ScribdPassword" serializeAs="String">
                <value>12qwaszx</value>
            </setting>
        </DodoService.Settings1>
    </applicationSettings>
</configuration>